<ion-header no-border>
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-icon slot="icon-only" name="bonfire"></ion-icon>
    </ion-buttons>


    <ion-title>
      e-ticket
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="light" >
  <!--
  &lt;!&ndash; Refresher &ndash;&gt;
  <ion-refresher slot="fixed" (ionRefresh)="recargar( $event )">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-buttons slot="end">
      <ion-button (click)="crearComprobante()"
                  color="primary">
        Generar
      </ion-button>
    </ion-buttons>-->


  <!-- Items -->
  <ion-header>
    <ion-toolbar>
      <ion-title>
        Comprobante
      </ion-title>
      <ion-buttons slot="primary">
        <ion-button color="primary" (click)="crearComprobante()">
          <ion-icon slot="icon-only" name="add-circle-outline"></ion-icon>
        </ion-button>
        <ion-button color="primary" (click)="exportPdf()">
          <ion-icon slot="icon-only" name="print"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <ion-content padding>
    <div class="printable-content">
      <div >
        <ion-card>
          <ion-card-content class="ticket-card">
            <h2><b>Razon Social - nombre y apellido</b></h2>
            <p>Domicilio - calle numero Localidad Pcia</p>
            <p>Cuit Nro - {{comprobante.cuit}}</p>
            <p>I B Nro - {{comprobante.cuit}}</p>
            <p>Inicio actividad: 01-01-2018</p>
            <p>Responsable: Monotributo</p>

          </ion-card-content>
        </ion-card>

        <ion-card>
          <ion-card-content class="ticket-card">
            <h2><i><b>DATOS DE COMPROBANTE ELECTRONICO EMITIDO</b></i></h2>
            <p>COMPROBA LA LEGALIDAD DEL COMPROBANTE INGRESANDO EN</p>
            <h2 style="padding: 10px 0"><i><b>Y LUEGO CARGA ESTOS DATOS</b></i></h2>
            <p>Cuit del vendedor: {{comprobante.cuit}}</p>
            <p>Nro de CAE: 12345678912345</p>
            <p>Fecha de Emision del Comprobante: 01-01-2018</p>
            <p>Tipo de comprobante: {{comprobante.tipo}}</p>
            <p>Punto de venta: 00002</p>
            <p>Numero de comprobante: {{comprobante.numero}}</p>
            <p>Tipo y Nro de documento del receptor: DNI 22333444</p>

          </ion-card-content>
        </ion-card>
        <ion-card>
          <ion-item>
<!--            <ion-icon name="pin" slot="start"></ion-icon>-->
            <ion-label><h2>Detalles de la factura</h2></ion-label>
            <ion-button fill="outline" slot="end" (click)="showItemForm = true" *ngIf="!showItemForm">Add Item</ion-button>
            <ion-button fill="outline" slot="end" (click)="adcionarItem()" *ngIf="showItemForm">Save</ion-button>
          </ion-item>

          <ion-card-content [ngClass]="{'items-form': showItemForm}">
            <form [formGroup]="newItemForm" novalidate *ngIf="showItemForm">
              <ion-grid>
                <ion-row>
                  <ion-col size="6">
                    <ion-item>
                      <ion-label position="floating">Concepto</ion-label>
                      <ion-input type="text" formControlName="concepto"></ion-input>
                    </ion-item>
                  </ion-col>
                  <ion-col size="6">
                    <ion-item>
                      <ion-label position="floating">Importe</ion-label>
                      <ion-input type="text" formControlName="importe"></ion-input>
                    </ion-item>
                  </ion-col>

                </ion-row>
              </ion-grid>


            </form>
            <table class="striped" *ngIf="new_items.length">
              <tr>
                <th width="70%">Descripción</th>
                <!-- <th width="20%">Precion Unitario</th> -->
                <!-- <th width="10%">Cantidad</th> -->
                <th width="30%">Importe</th>
              </tr>
              <tr *ngFor="let item of new_items">
                <td> {{ item.concepto }}</td>
                <td> {{ item.importe }}</td>
              </tr>
            </table>
            <h2  *ngIf="!new_items.length">No existen items asociados al comprobante</h2>
          </ion-card-content>
        </ion-card>
        <ion-card>
          <ion-card-content class="ticket-card">
            <h2><i><b>QR code aqui</b></i></h2>
            <ngx-qrcode id="qrCodeImage" [qrc-element-type]="elementType" [qrc-value] = "value" qrc-class="qr-class">
            </ngx-qrcode>
          </ion-card-content>
        </ion-card>
      </div>
      <div class="printable-area" id="printable-area">
        <table class="header-table">
          <tr>
            <td width="40%" class="title">INVOICE</td>
            <td width="60%">
              <table width="100%">
                <tr>
                  <td width="50%">+677-12332-1222</td>
                  <td width="50%">Your Address 1st</td>
                </tr>
                <tr>
                  <td>your@email.com</td>
                  <td>City, State, Country</td>
                </tr>
                <tr>
                  <td>yourwebsite.com</td>
                  <td>Post Code</td>
                </tr>
              </table>
            </td>
          </tr>
        </table>
        <table class="subheader-table">
          <tr>
            <td width="30%">
              <dt>Billed To:</dt>
              <dd>Client Name</dd>
              <dd>Address 1st Line</dd>
              <dd>City, State, Country</dd>
              <dd>Post Code</dd>
            </td>
            <td width="30%">
              <dt>Invoice Number:</dt>
              <dd>009223-222</dd>
            </td>
            <td width="40%">
              <dt>Invoice Total:</dt>
              <dd>$6.600</dd>
            </td>
          </tr>
        </table>
        <div style="display: flex; flex-direction: row; width: 100%" justify-content-center align-items-center>
          <h3 style="display: flex; flex-grow: 1">Detalle factura</h3>
          <!--          <ion-icon style="display: flex; margin: 20px 10px 10px 0; float: right;" name="add-circle" size="large"></ion-icon>-->
          <ion-button (click)="presentModal()">Add Item</ion-button>
        </div>

        <table class="detail-table">
          <tr>
            <th width="50%">Descripción</th>
            <!-- <th width="20%">Precion Unitario</th> -->
            <!-- <th width="10%">Cantidad</th> -->
            <th width="20%">Importe</th>
          </tr>
          <tr *ngFor="let item of new_items">
            <!-- <td>{{ item.concepto }}</td>
            <td>{{ item.importe }}</td> -->
            <!--              <app-citem [item]="item" [comprobante]="item.comprobante"></app-citem>-->

            <td> {{ item.concepto }}</td>
            <td> {{ item.importe }}</td>

          </tr>
          <!--
            <tr>
            <td>Apple Macbook Pro Retina 2018</td>
            <td>$4.500</td>
            <td>1</td>
            <td>$4.500</td>
          </tr>
          <tr>
            <td>Apple Mouse Bluetooth</td>
            <td>$500</td>
            <td>1</td>
            <td>$500</td>
          </tr>
          <tr>
            <td>Apple Cinema Display</td>
            <td>$1.000</td>
            <td>1</td>
            <td>$1.000</td>
          </tr>
        -->
        </table>
        <table class="footer-table">
          <tr>
            <td width="80%">Sub Total: </td>
            <td width="20%">$6.000</td>
          </tr>
          <tr>
            <td>Tax: </td>
            <td>$600</td>
          </tr>
        </table>

      </div>
    </div>
  </ion-content>
  
  <!-- Infinite Scroll -->

  <ion-infinite-scroll  [disabled]="!habilitado"
                        threshold="150px"
                        (ionInfinite)="siguientes($event)">
      <ion-infinite-scroll-content>
      </ion-infinite-scroll-content>
    </ion-infinite-scroll>

</ion-content>
