<ion-header no-border>
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-icon slot="icon-only" name="bonfire"></ion-icon>
    </ion-buttons>


    <ion-title>
      e-ticket
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="light" >
  <!--
  &lt;!&ndash; Refresher &ndash;&gt;
  <ion-refresher slot="fixed" (ionRefresh)="recargar( $event )">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-buttons slot="end">
      <ion-button (click)="crearComprobante()"
                  color="primary">
        Generar
      </ion-button>
    </ion-buttons>-->


  <!-- Items -->
  <ion-header>
    <ion-toolbar>
      <ion-title>
        Comprobante
      </ion-title>
      <ion-buttons slot="primary">
        <ion-button color="primary" (click)="crearComprobante()">
          <ion-icon slot="icon-only" name="add-circle-outline"></ion-icon>
        </ion-button>
        <ion-button color="primary" (click)="imprimirComprobante()">
          <ion-icon slot="icon-only" name="print"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <ion-content padding #mainContent >
    <div class="printable-content">
      <div >
        <ion-card>
          <ion-card-content class="ticket-card">
<!--            <h1>{{printMessage}}</h1>-->
            <h2><b>Razon Social - {{ usuario.nombre }}</b></h2>
            <p>Domicilio - {{ usuario.domicilioCalle }} {{ usuario.domicilioNumero }} {{ usuario.domicilioLocalidad }} {{ usuario.domicilioProvincia }}</p>
            <p>Cuit Nro - {{ comprobante.cuit }}</p>
            <p>I B Nro - {{ comprobante.cuit }}</p>
            <p>Inicio actividad: {{ usuario.inicioActividad }}</p>
            <p>Responsable: {{ usuario.respAnteIva }}</p>

          </ion-card-content>
        </ion-card>

        <ion-card>
          <ion-card-content class="ticket-card">
            <h2><i><b>DATOS DE COMPROBANTE ELECTRONICO EMITIDO</b></i></h2>
            <p>COMPROBA LA LEGALIDAD DEL COMPROBANTE INGRESANDO EN</p>
            <h2 style="padding: 10px 0"><i><b>Y LUEGO CARGA ESTOS DATOS</b></i></h2>
            <p>Cuit del vendedor: {{comprobante.cuit}}</p>
            <p>Nro de CAE: 12345678912345</p>
            <p>Fecha de Emision del Comprobante: 01-01-2018</p>
            <p>Tipo de comprobante: {{comprobante.tipo}}</p>
            <p>Punto de venta: 00002</p>
            <p>Numero de comprobante: {{comprobante.numero}}</p>
            <p>Tipo y Nro de documento del receptor: DNI 22333444</p>

          </ion-card-content>
        </ion-card>
        <ion-card>
          <ion-item>
<!--            <ion-icon name="pin" slot="start"></ion-icon>-->
            <ion-label><h2>Detalles de la factura</h2></ion-label>
            <ion-button fill="outline" slot="end" (click)="showItemForm = true" *ngIf="!showItemForm">Add Item</ion-button>
            <ion-button fill="outline" slot="end" (click)="adcionarItem()" *ngIf="showItemForm">Save</ion-button>
          </ion-item>

          <ion-card-content [ngClass]="{'items-form': showItemForm}">
            <form [formGroup]="newItemForm" novalidate *ngIf="showItemForm">
              <ion-grid>
                <ion-row>
                  <ion-col size="6">
                    <ion-item>
                      <ion-label position="floating">Concepto</ion-label>
                      <ion-input type="text" formControlName="concepto"></ion-input>
                    </ion-item>
                  </ion-col>
                  <ion-col size="6">
                    <ion-item>
                      <ion-label position="floating">Importe</ion-label>
                      <ion-input type="text" formControlName="importe"></ion-input>
                    </ion-item>
                  </ion-col>

                </ion-row>
              </ion-grid>


            </form>
            <table class="striped" *ngIf="new_items.length">
              <tr>
                <th width="70%">Descripción</th>
                <!-- <th width="20%">Precion Unitario</th> -->
                <!-- <th width="10%">Cantidad</th> -->
                <th width="30%">Importe</th>
              </tr>
              <tr *ngFor="let item of new_items">
                <td> {{ item.concepto }}</td>
                <td> {{ item.importe }}</td>
              </tr>
            </table>
            <h2  *ngIf="!new_items.length">No existen items asociados al comprobante</h2>
          </ion-card-content>
        </ion-card>
        <ion-card class="qr-card">
          <ion-card-content class="ticket-card">
            <h2><i><b>O ESCANEA EL CODIGO PARA DESCARGAR TU COMPROBANTE EN PDF</b></i></h2>
            <ngx-qrcode id="qrCodeImage" [qrc-element-type]="elementType" [qrc-value] = "value" qrc-class="qr-class">
            </ngx-qrcode>
          </ion-card-content>
        </ion-card>
      </div>
      <!--<div class="printable-area" id="printable-area">
        <table class="footer-table">
          <tr>
            <td width="80%">Sub Total: </td>
            <td width="20%">$6.000</td>
          </tr>
          <tr>
            <td>Tax: </td>
            <td>$600</td>
          </tr>
        </table>
      </div>-->
    </div>
<!--Plantilla para imprimir-->
    <div class="printable-content" [hidden]="true" id="print-template">
      <div style="width: 100%">
        <div style="border: 1px solid gray; text-align: center">
            <h3 style="margin: 2px 10px"><b>Razon Social - {{ usuario.nombre }}</b></h3>
            <p style="margin: 2px 10px;">Domicilio - {{ usuario.domicilioCalle }} {{ usuario.domicilioNumero }} {{ usuario.domicilioLocalidad }} {{ usuario.domicilioProvincia }}</p>
            <p style="margin: 2px 10px;">Cuit Nro - {{ comprobante.cuit }}</p>
            <p style="margin: 2px 10px;">I B Nro - {{ comprobante.cuit }}</p>
            <p style="margin: 2px 10px;">Inicio actividad: {{ usuario.inicioActividad }}</p>
            <p style="margin: 2px 10px;">Responsable: {{ usuario.respAnteIva }}</p>
        </div>
        <div style="border: 1px solid gray; text-align: center; margin-top: 10px">
          <h4 style="margin: 2px 10px"><i><b>DATOS DE COMPROBANTE ELECTRONICO EMITIDO</b></i></h4>
          <p style="margin: 5px 10px;">COMPROBA LA LEGALIDAD DEL COMPROBANTE INGRESANDO EN</p>
          <h4 style="margin: 5px 10px"><i><b>Y LUEGO CARGA ESTOS DATOS</b></i></h4>
          <p style="margin: 2px 10px;">Cuit del vendedor: {{comprobante.cuit}}</p>
          <p style="margin: 2px 10px;">Nro de CAE: 12345678912345</p>
          <p style="margin: 2px 10px;">Fecha de Emision del Comprobante: 01-01-2018</p>
          <p style="margin: 2px 10px;">Tipo de comprobante: {{comprobante.tipo}}</p>
          <p style="margin: 2px 10px;">Punto de venta: 00002</p>
          <p style="margin: 2px 10px;">Numero de comprobante: {{comprobante.numero}}</p>
          <p style="margin: 2px 10px;">Tipo y Nro de documento del receptor: DNI 22333444</p>
        </div>
        <div style="border: 1px solid gray; text-align: center; margin-top: 10px">
            <h4 style="margin: 2px 10px"><i><b>O ESCANEA EL CODIGO PARA DESCARGAR TU COMPROBANTE EN PDF</b></i></h4>
            <ngx-qrcode id="qrCodeImage" [qrc-element-type]="elementType" [qrc-value] = "value" qrc-class="qr-class">
            </ngx-qrcode>
        </div>
      </div>
    </div>
  </ion-content>
</ion-content>
